<!-- Stephanie -->
<section class="team">
  <h2 class="title-points">Clora</h2>
  <br>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<img src="./img/2.JPG" class="img-responsive"/>
		</div>
		<div class="col-md-2">
    </div>
  </div>
  <br>
</section>
<section class="grade">
  <h3>Actitud del Equipo</h3>
  <div class="demo-container">
    <select ng-model="pitchGrade" ng-change="pitchChange(pitchGrade)">
      <option value="">---Seleccione una Calificación---</option> <!-- not selected / blank option -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <label class="gradeNumbers"><b></b></label>
  <br>
  <h3>Originalidad de la Idea</h3>
  <div class="demo-container">
    <select ng-model="modelGrade" ng-change="modelChange(modelGrade)">
      <option value="">---Seleccione una Calificación---</option> <!-- not selected / blank option -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br><br>
  </div>
  <br>
</section>
<br>
<button class="buttton-points" ng-click="next('3')">S I G U I E N T E</button>
<br><br><br>